{% extends 'base.html' %}

{% block con %}
    
    <h1><b>{{ b.subject }}</b></h1>

    <div class="row mt-5">
        <div class="col-sm-9">
            <textarea class="form-control" style="height: 200px;" disabled>{{ b.content }}</textarea>
        </div>
        <div class="col-sm-3">
            <img src="{{ b.writer.getpic }}" width="100%">
            <div class="text-center mt-4">
                <h5>written by <b>{{ b.writer }}</h5></b>
            </div>
            <div class="text-end mt-3">
                <h6>{{ b.pubdate|date:'Y년 n월 j일 H:i' }}</h6>
            </div>
        </div>
    </div>

        <div class="text-end-mt4 mb-3">
            <a class="btn btn-dark" href="{% url 'board:index' %}">글 목록</a>

            {% if user == b.writer %}
                <a class="btn btn-secondary" href="{% url 'board:update' b.id %}">글 수정</a>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    글삭제
                </button>
            {% endif %}
        </div>
    
    
    
    <hr>

    <form method="POST" action="{% url 'board:creply' b.id %}">
        {% csrf_token %}
        <div class="row mt-4 mb-5">
            <div class="col-sm-10">
                <input type="text" name="com" class="form-control">
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary" style="width: 100%;">댓글등록</button>
            </div>
        </div>
    </form>

    {% for i in rset %}
    <div class="row mt-5">
        <div class="col-sm-3 text-center">
            <img src="{{ i.replyer.getpic }}" width="70%" class="rounded-circle">
            <div class="mt-2">
                <h5><b>{{ i.replyer }}</b></h5>                
            </div>
        </div>
        <div class="col-sm-9" style="margin: auto;">
            <textarea class="form-control" disabled style="height: 100px;">{{ i.comment }}</textarea>
            {% if i.replyer == user %}
            <div class="text-end">
                <a class="btn btn-danger btn-sm mt-5" href="{% url 'board:dreply' b.id i.id %}">댓글삭제</a>
            </div>
            {% endif %}
        </div>
        
    </div>

    {% empty %}
        <div class="text-center mt-5 mb-5">
            <h4>첫번째 댓글을 달아주세요!</h4>
        </div>
    
    {% endfor %}

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><b>게시글 삭제 알림창</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <b>{{ b.subject }}</b>를 정말로 삭제 하시겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <a class="btn btn-danger" href="{% url 'board:delete' b.id %}">삭제</a>
            </div>
        </div>
        </div>
    </div>

{% endblock %}